<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>さんぷる💛</title>
</head>
<body>
<h1 th:text="ログイン"></h1>
<div th:if="${param.error}" class="alert alert-danger">
    ユーザー名またはパスワードが正しくありません。
</div>
<form th:action="@{'/login'}" method="post">
	<div>
		<label for="userId" class="control-label">USER ID</label>
		<input type="text" name="userId">
	</div>
	<div>
		<label for="password">password</label>
		<input type="password" name="password">
	</div>
	<input type="submit" value="ログイン"/>
</form>
</body>
</html>